{{#if danger_msg}}
<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert" style="text-align: center;">
  {{ danger_msg }}
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show mt-3" role="alert" style="text-align: center;">
  {{ success_msg }}
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
