<div class="row">
  <!--     訂單區 -->
  <div class="col-md-4 p-4" data-order-lists>

    <div class="text-right">
      <button class="btn btn-light" style="min-width:120px;" data-alpha-pos="checkout">Checkout</button>
    </div>
  </div>
  <!--   點單區   -->
  <div class="col-md-8 p-4" data-order-panel>
    <section class="menu mb-4">
      <div class="card-deck mb-3">
        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Black Tea</h5>
            <input type="radio" name="drink" value="Black Tea">
          </label>
        </div>

        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Oolong Tea</h5>
            <input type="radio" name="drink" value="Oolong Tea">
          </label>
        </div>

        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Baozong Tea</h5>
            <input type="radio" name="drink" value="Baozong Tea">
          </label>
        </div>

        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Green Tea</h5>
            <input type="radio" name="drink" value="Green Tea">
          </label>
        </div>
      </div>

      <div class="card-deck">
        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Bubble Milk Tea</h5>
            <input type="radio" name="drink" value="Bubble Milk Tea">
          </label>
        </div>

        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Black Tea Latte</h5>
            <input type="radio" name="drink" value="Black Tea Latte">
          </label>
        </div>

        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Lemon Green</h5>
            <input type="radio" name="drink" value="Lemon Green Tea">
          </label>
        </div>

        <div class="card text-center">
          <label class="card-body px-2">
            <h5 class="card-title">Matcha Latte</h5>
            <input type="radio" name="drink" value="Matcha Latte">
          </label>
        </div>
      </div>
    </section>

    <section class="ice mb-4">
      <label class="d-block text-light">Ice</label>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="No Ice" />No
        </label>
        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="light Ice" />Light
        </label>

        <label class="btn btn-outline-primary">
          <input type="radio" name="ice" value="Less Ice" />Less
        </label>
        <label class="btn btn-outline-primary active">
          <input type="radio" name="ice" value="Regular Ice" checked="checked" />Regular
        </label>
        <label class="btn btn-outline-danger">
          <input type="radio" name="ice" value="Hot" />Hot
        </label>
      </div>
    </section>

    <section class="sugar mb-5">
      <label class="d-block text-light">Sugar</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="No Sugar" />No
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Light Sugar" />Light
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Half Sugar" />Half
        </label>
        <label class="btn btn-outline-info">
          <input type="radio" name="sugar" value="Less Sugar" />Less
        </label>
        <label class="btn btn-outline-info active">
          <input type="radio" name="sugar" value="Regular Sugar" checked="checked" />Regular
        </label>
      </div>
    </section>

    <div class="text-right">
      <div class="btn btn-light" style="min-width:120px;" data-alpha-pos="add-drink">Add</div>
    </div>
  </div>
</div>