<div class="mb-4 text-center">
  <h1 class="loginTitle m-3">使用者登入</h1>
</div>
<form class="form-signin mb-4" action="/signin" method="POST">
  <div class="form-row mb-3">
    <label class="form-label" for="email">帳號</label>
    <input class="form-control" id="account" type="text" name="account" class="form-control" placeholder="請輸入帳號" required
      autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">密碼</label>
    <input class="form-control" id="password" type="password" name="password" class="form-control"
      placeholder="請輸入密碼" required>
  </div>
  <button class="btn btn-dark btn-block" type="submit">登入</button>
</form>
