body {
  min-height: 100vh;
  /* vh=view height 使用者螢幕高度 */
  display: flex;
  align-items: start;
  justify-content: center;
  background: linear-gradient(rgba(219, 219, 219, 0.4), rgba(219, 219, 219, 0.4)), url('https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center;
  background-size: cover;
}


.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  z-index: 2;
}

.card {
  margin-top: 3px;
  border: 2px solid azure;
  color: azure;
  background-color: transparent;
}

.card-title {
  font-size: 18px;
}

.menu .card-body {
  cursor: pointer;
}

.menu .card:hover {
  box-shadow: 0px 0px 8px 1px rgba(200, 125, 55, 1);
}

.row {
  max-height: 600px;
}

.col-md-4 {
  max-height: 580px;
  overflow-y: auto;
}

[data-alpha-pos="delete-drink"] {
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  /* 改變滑鼠形狀 pointer:手指 */
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

[data-alpha-pos="delete-drink"]:hover {
  color: #333;
}

.loginTitle {
  font-weight: normal;
  color: antiquewhite;
}

.form-label {
  color: lightcyan;
  font-weight: bolder;
}

.alert {
  font-size: x-large;
  vertical-align: middle;
}

.go-back,
.go-front {
  float: right;
  font-size: large;
  font-weight: 600;
  color: darkseagreen;
}

.drinks-pagination {
  display: flex;
  justify-content: center;
}

.category-tabs .nav-link {
  list-style-type: none;
  color: azure;
}

.category-tabs :hover {
  color: #333;
  background-color: azure;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}